name: CI
permissions:
  contents: read

on:
  push:
    branches:
      - '**'
  pull_request:
    branches: [main]

jobs:
  test:
    name: Run Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Format Check
        run: npm run format:check
        continue-on-error: true

      - name: Lint Check
        run: npm run lint
        continue-on-error: true

      - name: Run Tests & Coverage
        run: npm run test:coverage -- --coverage.thresholds.lines=50

      - name: Update Coverage Gist
        run: |
          PERCENTAGE=$(jq -r .total.lines.pct coverage/coverage-summary.json)
          curl -X PATCH \
            -H "Authorization: token ${{ secrets.GIST_TOKEN }}" \
            -H "Accept: application/vnd.github.v3+json" \
            https://api.github.com/gists/a8884faae96966dc2e18557437ce8ab3 \
            -d "{\"files\":{\"coverage.json\":{\"content\":\"{\\\"schemaVersion\\\": 1, \\\"label\\\": \\\"coverage\\\", \\\"message\\\": \\\"$PERCENTAGE%\\\", \\\"color\\\": \\\"orange\\\"}\"}}}"

      - name: Build Check
        run: npm run build
